@import "tailwindcss";

.primary{
  color: #002147;
}
.requiredField {
  color: #ef4444;    
  font-size: 12px;   
  margin-top: 0.25rem; 
}

/* Hide scrollbar but keep scrolling */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
